@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    text-decoration: none;
	scroll-behavior: smooth;
    font-family: 'poppins' sans-serif;
}

main{
	padding: 0;
	width: 100%;
	height: 100%;
	background: #0b0c0f;
}


header{
	margin: 0 auto;
	width: 100%;
	height: 70px;
	display: flex;
  align-items: center; 
	justify-content: space-around; 
  background: transparent;
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 5;
}
.logo{
    font-size: 30px;
    color: #00a9e2;
    font-weight: 600;
    
}
.nav-show{
	opacity: 0;
}

header:hover{
	opacity: 1;
	background: #21252e;
}


.nav-bar{
	list-style:none;
	position: relative;
	display: inline-flex;
}

a.nav-link{
	margin: 2px;
	padding: 5px 10px;
	text-decoration: none;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	text-transform: uppercase;
}

.active{
	background: #00a9e2;
}

.nav-link:hover {
	color: #000000;
    background: #00a9e2;
}

#home{ 	
	margin: auto;
	height: 100vh;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
  
}

#home .filter{
	background: url('https://images.unsplash.com/photo-1544099858-75feeb57f01b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat;
	background-size: cover;
	background-position:center;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
	opacity:.20;
}  

.intro {
	text-align:center;
    color: #fff;
	z-index: 1;
	margin: auto;
	padding: 20px;
}

.intro  p{
    margin: 5px;
	font-size:1.2rem;
	font-family: 'Poppins', sans-serif;
	text-align:center;
}

h3{
	padding-bottom: 15px;
  letter-spacing: normal;
  font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-size: 60px;
	color: #fff;
	text-shadow: 0px 0px 40px #00a9e2;
}
button{ 
    background-color: #00a9e2 ;     
    border: none;
    color: #000;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 35px;
    text-transform: capitalize;
    transition: 0.5s;

}
button:hover{
    background-color:   #5fb5d2;
    color: #000;

}
.container-items li{
  list-style: none;
}

.social-media{
	padding: 10px;
	display: flex;
	position: center;
    align-items: space-around;
	justify-content:center;
}

.social-media a {
    margin: 10px;
    font-size: 2rem;
    text-align:center;
    display: inline-block;
	color: #fff;
}

.social-media a i{
	cursor: pointer;
}

.social-media  a:hover {
	color: #fff;
	text-shadow: 0 0 50px  #00a9e2;
}

#Resume{
	margin-top:100px;
    height: 100%;
	display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	text-align:center;
	color: #fff;
  
}
#Resume h3 {
    padding-top: 70px;
  
  
}
#Resume  ul li{
  list-style: none;
}
.year{
        font-size: 15px;
  background: #00a9e2;
    }
#Resume ul li strong {
        font-size: 18px;
  
    }
#Resume ul li p {
        font-size: 19px;
    }


#contact{
	margin: auto;
	padding-bottom: 20px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}
	
#contact p{
	padding:10px;
	text-align:center;
	font-size:1.2rem;
	font-family: 'Poppins', sans-serif;
}


footer {
	width: 100%;
	height: 100%;
    background-color: #21252e;
}

.copyright {
	color: #fff;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px 10px 0px;
}

.copyright p{
	color: #fff;
	font-size: 12px;
  letter-spacing: 1px;
  font-family: 'poppins' ,sans-serif;
  
}



